<app-header
  title="Critical Threats Portal"
  [subtitle]="
    'Real-time monitoring of top priority security incidents globally.'
  "
>
  <div kpiObject class="kpi-object-container">
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiTitle]="'Total Incidents'"
      [group]="all"
    ></app-header-card>
    <app-header-card
      [KPICard]="notMainKpi"
      [KpiTitle]="'Affected Hosts'"
      [group]="openIncidentsGroup"
    ></app-header-card>
    <app-header-card
      [KPICard]="isMainKPI"
      [KpiTitle]="'Critical Vulnerabilities'"
      [group]="criticalTotal"
    ></app-header-card>
  </div>
</app-header>

<div class="dashboard-content">
  <div class="main-grid-container">
    <!-- 1. Incidents per thread type -->
    <div class="grid-item item1">
      <app-custom-barchart
        [dimension]="typeDim"
        [group]="typeGroup"
        xAxisLabel="Threat type"
        yAxisLabel="Number of Incidents"
        title="Incidents per Threat Type"
      ></app-custom-barchart>
    </div>

    <!-- 2. Threads by Severity -->
    <div class="grid-item item2">
      <app-custom-barchart
        [dimension]="sevDim"
        [group]="sevGroup"
        xAxisLabel="Severity"
        yAxisLabel="Number of Threats"
        title="Threats by Severity"
      ></app-custom-barchart>
    </div>

    <!-- 3. Threads by day (Critical only) -->
    <div class="grid-item item3">
      <app-custom-linechart
        [dimention]="dateDim"
        [group]="criticalGroup"
        [title]="'Critical Threats per Day'"
      ></app-custom-linechart>
    </div>

    <!-- 4. Incidents source -->
    <div class="grid-item item4">
      <app-piechart
        [title]="'Incidents Source'"
        [dimension]="srcDim"
        [group]="srcGroup"
      ></app-piechart>
    </div>

    <!-- 5. Attack vectors -->
    <div class="grid-item item5">
      <app-radar-chart
        [dimension]="vectorDim"
        [group]="vectorGroup"
        [title]="'Attack Vectors'"
      ></app-radar-chart>
    </div>
  </div>
</div>
