/* loding spinner */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: var(--core);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* General Styles */

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.nav-container {
  margin-left: 22px;
}

/* Sidebar */
.sidebar {
  width: 302px;

  background: var(--sand);
  color: white;
  flex-shrink: 0; /* evita que se achique */
  transition: width 0.3s ease;
  margin: 18px;
  border-radius: var(--general-radius);
}

.sidebar.closed {
  width: 38px;
}

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 10;
  margin-left: -18px;
}

/* Header */
.header {
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-shrink: 0;
}

/* Content area */
.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: auto;
  height: 100%;
  overflow-y: auto; /* scroll solo aquí */
  background-color: var(--bg);
  padding: 18px;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 22px;
  left: 14px;
  margin: 6px;
  background-color: transparent;
  border-radius: var(--general-radius);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--core);
  z-index: 10;
}
.close-button:hover {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: -10;
    height: 100%;
  }

  .main-content {
    flex: 1;
  }
}

/* //////////////////////////////////////////////////// */
/* Styles for modal */
/* Contenedor overlay */
.full-screen-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  /* transición de apertura/cierre */
  opacity: 0; /* inicio cerrado */
  pointer-events: none; /* bloquea clicks mientras está cerrado */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* Overlay abierto */
.full-screen-overlay.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms ease; /* sin delay al abrir */
}

/* Overlay cerrado */
.full-screen-overlay.closed {
  opacity: 0;
  pointer-events: none; /* bloquea clicks al cerrar */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* //////////////////////////////////////////////////// */

/* Estilos y animaciones para el chatbot-modal */
.full-screen-chatbot-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  /* transición de apertura/cierre */
  opacity: 0; /* inicio cerrado */
  pointer-events: none; /* bloquea clicks mientras está cerrado */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* Overlay abierto */
.full-screen-chatbot-modal.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms ease; /* sin delay al abrir */
}

/* Overlay cerrado */
.full-screen-chatbot-modal.closed {
  opacity: 0;
  pointer-events: none; /* bloquea clicks al cerrar */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* //////////////////////////////////////////////////// */
/* Estilos para el modal de AI Summary */
/* Estilos y animaciones para el chatbot-modal */
.full-screen-ai-summary-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  /* transición de apertura/cierre */
  opacity: 0; /* inicio cerrado */
  pointer-events: none; /* bloquea clicks mientras está cerrado */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}

/* Overlay abierto */
.full-screen-ai-summary-modal.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 250ms ease; /* sin delay al abrir */
}

/* Overlay cerrado */
.full-screen-ai-summary-modal.closed {
  opacity: 0;
  pointer-events: none; /* bloquea clicks al cerrar */
  transition: opacity 250ms ease, pointer-events 0s linear 250ms;
}
