@if (isLoading) {
<div class="loading-screen">
  <div class="spinner"></div>
  <p>Verifying session...</p>
</div>
} @else {
<div class="app-container">
  <!-- Sidebar -->
  <aside class="sidebar" [class.closed]="isSidebarClosed">
    <button class="close-button" (click)="toggleSidebar()">☰</button>
    <div class="nav-container">
      <app-navbar-component></app-navbar-component>
    </div>
  </aside>

  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Aquí carga el router -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
<!-- Session Modal -->
<div
  class="full-screen-overlay"
  [ngClass]="{ open: modalState, closed: !modalState }"
>
  <app-session-modal></app-session-modal>
</div>

<!-- Chatbot Modal -->
<div
  class="full-screen-chatbot-modal"
  [ngClass]="{ open: chatbotModalState, closed: !chatbotModalState }"
>
  <app-chatbot-modal></app-chatbot-modal>
</div>
<!-- AI Summary Modal -->
<div
  class="full-screen-ai-summary-modal"
  [ngClass]="{ open: aiSummaryModalState, closed: !aiSummaryModalState }"
>
  <app-ai-summary-modal></app-ai-summary-modal>
</div>
}
