.modal {
  max-width: 100%;
  width: auto;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 1.25rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: var(--core);
  color: var(--bg);
  border: none;
  border-radius: 12px;
  padding: 12px;
}

.button:hover {
  cursor: pointer;
}

/* Chatbot styles */
.chat-container {
  width: 800px;
  max-width: 800px;
  height: 500px;
  margin: auto;
  background-color: var(--bg);
  border-radius: var(--general-radius);
  padding: 1.25rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 1.2rem;
}

.chat-header .close-button:hover {
  cursor: pointer;
}

/* AI Summary Response Styles */
.ai-summary-response {
  width: 100%;
  height: 95%;
  overflow-y: auto;
  padding: 18px -2px 18px 18px;
}