/* You can add global styles to this file, and also import other style files */
@import "dc/dc.css";

/* Global Font */
/* src/styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*Color variables*/
:root {
  --sand: #f5f3ed;
  --core: #024079ff;
  --night: #373737;
  --bg: #ffffff;
  --general-radius: 22px;
  --interior-radius: 18px;
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-color: var(--bg);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
